
---
// @ts-ignore
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import logocarImage from "assets/logocar.png";
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";

const features = [
  {
    title: "Daños Materiales",
    description:
      "En caso de un evento inesperado, como un accidente, una enfermedad grave, el seguro puede cubrir los costos asociados, evitando una carga financiera significativa para el asegurado..",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Robo total",
    description:
      " Saber que estás protegido por un seguro te brinda paz mental. No tendrás que preocuparte constantemente por lo que podría suceder en el futuro.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Gastos médicos a ocupantes",
    description:
      " El seguro de salud proporciona acceso a atención médica de calidad y ayuda a cubrir los costos médicos, incluidas consultas, hospitalizaciones y medicamentos.  ",
    icon: "bx:bxs-data",
  },
  {
    title: "Asistencia vial",
    description:
      " El seguro de viaje ofrece cobertura en caso de emergencias médicas, cancelación de viajes, pérdida de equipaje y otros inconvenientes que pueden ocurrir durante un viaje.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Asistencia legal",
    description:
      "El seguro de vida y el seguro de invalidez proporcionan apoyo financiero a tus seres queridos en caso de tu fallecimiento o incapacidad, lo que les permite mantener su calidad de vida. ",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Responsabilidad civil a terceros (bienes y personas)",
    description:
      "Al tener seguro, puedes incorporar la protección de seguros en tu planificación financiera a largo plazo. Esto puede ayudarte a alcanzar metas financieras.",
    icon: "bx:bxs-user",
  },
];
---

<Layout title="Seguro de autos">
    <Container>

      <main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={logocarImage}
      alt="pets"
      widths={[300, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1 class="text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter hover:text-blue-900">
         Tu Protección en el Camino
    </h1>
    <div class="grid place-content-center mt-5">
        <a
          type="button"
          href="/contact"
          class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-medium px-6 py-3.5 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 text-center"
        >
          Quiero contratar un plan
        </a>
      </div>
    
  </div>

  

</main>



      <div class="mt-16 md:mt-0">
    
        <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight xl:tracking-tighter transition-colors duration-500 ease-in-out hover:text-blue-900 text-center">
          Seguro de autos
        </h2>
    
    
        <p class="text-lg mt-4  text-slate-600 text-center">
          Aquí te presentamos algunos de los beneficios clave de tener un seguro:
        </p>
    
    </div>
    
    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
      {
        features.map((item) => (
          <div class="flex gap-4 items-start">
            <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
              <Icon class="text-white" name={item.icon} />
            </div>
            <div>
              <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
              <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>




     
    </Container>
  </Layout>
  