<!-- Espacio entre secciones -->
<div class="mt-8 md:mt-12 lg:mt-16"></div>

<div class="mt-8 md:mt-16">
    <h2 class="text-3xl md:text-4xl lg:text-5xl font-bold lg:tracking-tight xl:tracking-tighter transition-colors duration-500 ease-in-out hover:text-blue-900 text-center">
        ¿Cómo funcionamos?
    </h2>
</div>

<div class="grid sm:grid-cols-3 gap-6 space-x-0 md:space-x-6 lg:space-x-16 mt-4 md:mt-8">
    <!-- Círculo 1 -->
    <div class="w-ffull flex flex-col items-center mb-8 md:mb-0">
        <div class="w-16 h-16 rounded-full flex items-center justify-center border-4 border-blue-900 text-blue-500 mb-2">
            <span class="text-lg font-semibold">1</span>
        </div>
        <div class="text-center">
            <h3 class="text-lg font-semibold">Selecciona tu seguro</h3>
            <p class="text-base md:text-lg mt-2 md:mt-4 text-slate-600 text-center">No importa qué tipo de seguro necesites, nuestros planes se acomodan a ti.</p>
        </div>
    </div>

    <!-- Círculo 2 -->
    <div class="w-ffull flex flex-col items-center mb-8 md:mb-0">
        <div class="w-16 h-16 rounded-full flex items-center justify-center border-4 border-blue-900 text-blue-500 mb-2">
            <span class="text-lg font-semibold">2</span>
        </div>
        <div class="text-center">
            <h3 class="text-lg font-semibold">Elige un plan</h3>
            <p class="text-base md:text-lg mt-2 md:mt-4 text-slate-600 text-center">Elige el plan que más te convenga.</p>
        </div>
    </div>

    <!-- Círculo 3 -->
    <div class="w-ffull flex flex-col items-center">
        <div class="w-16 h-16 rounded-full flex items-center justify-center border-4 border-blue-900 text-blue-500 mb-2">
            <span class="text-lg font-semibold">3</span>
        </div>
        <div class="text-center">
            <h3 class="text-lg font-semibold">Regístrate</h3>
            <p class="text-base md:text-lg mt-2 md:mt-4 text-slate-600 text-center">Registra tus datos en el formulario y nosotros te contactaremos</p>
        </div>
    </div>
</div>
