---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Protección Financiera",
    description:
      "En caso de un evento inesperado, como un accidente, una enfermedad grave, el seguro puede cubrir los costos asociados, evitando una carga financiera significativa para el asegurado..",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Paz Mental",
    description:
      " Saber que estás protegido por un seguro te brinda paz mental. No tendrás que preocuparte constantemente por lo que podría suceder en el futuro.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Cuidado de la Salud",
    description:
      " El seguro de salud proporciona acceso a atención médica de calidad y ayuda a cubrir los costos médicos, incluidas consultas, hospitalizaciones y medicamentos.  ",
    icon: "bx:bxs-data",
  },
  {
    title: "Viajes más Seguros",
    description:
      " El seguro de viaje ofrece cobertura en caso de emergencias médicas, cancelación de viajes, pérdida de equipaje y otros inconvenientes que pueden ocurrir durante un viaje.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Seguridad Familiar",
    description:
      "El seguro de vida y el seguro de invalidez proporcionan apoyo financiero a tus seres queridos en caso de tu fallecimiento o incapacidad, lo que les permite mantener su calidad de vida. ",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Planificación Financiera",
    description:
      "Al tener seguro, puedes incorporar la protección de seguros en tu planificación financiera a largo plazo. Esto puede ayudarte a alcanzar metas financieras.",
    icon: "bx:bxs-user",
  },
];
---


<div class="mt-16 md:mt-0">
    
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight xl:tracking-tighter transition-colors duration-500 ease-in-out hover:text-blue-900 text-center">
      Beneficios de contar con un seguro
    </h2>


    <p class="text-lg mt-4  text-slate-600 text-center">
      Aquí te presentamos algunos de los beneficios clave de tener un seguro:
    </p>

</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
