
<div class="mt-16 md:mt-0 flex flex-col justify-center items-center">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight xl:tracking-tighter transition-colors duration-500 ease-in-out hover:text-blue-900 text-center">
        ¿Quiénes somos?
    </h2>

    <div class="max-w-lg">
        <p class="text-lg mt-4 max-w-x text-center text-slate-600">
            En Seguros DL, nos enorgullece ofrecerle la tranquilidad
            y la protección que necesita para enfrentar los desafíos de la vida con confianza. 
            Somos una empresa de seguros comprometida con su seguridad financiera y bienestar.
        </p>
    </div>

</div>

<!-- Espacio entre secciones -->
<div class="mt-12"></div>
